.wrap_content{position: relative;}
.content{background: #fff;}

.index_title{/* overflow: hidden; */margin-bottom: 12px;position: relative;}
.index_title::before{content: '';display: block;height: 1px;background: #eee;position: absolute;top: 50%;left: 0;right: 70px;}
.index_title::after{content: '';display: block;clear: both;}
.index_title .more{z-index: 2;position: absolute;right: 0;top: 50%;transform: translateY(-50%);line-height: 24px;background: #fff;padding: 0 0 0 18px;}
.index_title .more::after{content: '';display: block;width: 8px;height: 8px;background: #dedede;position: absolute;top: 50%;transform: translateY(-50%);left: 0;border-radius: 50%;}
.index_title h2{padding-left: 38px;color: #004f94;font-weight: normal;float: left;line-height: 32px;/* font-family: "Songti SC"; */position: relative;background-repeat: no-repeat;background-position: left center;background-color: #fff;padding-right: 20px;z-index: 2;}
.index_title .more.off{display: none;}

.mode01 .lf h2{cursor: pointer;}
.mode01 .lf h2:first-child{padding-right: 41px;margin-right: 6px;}
.mode01 .lf h2:first-child::after{content: '';display: block;position: absolute;right: 0;top: 0;bottom: 0;width: 40px;background: url(../images/index_title_cut.png) right center no-repeat;}

.mode01 h2.ico11{background-image: url(../images/mode01_ico12.png);background-size: auto 83.3%;}
.mode01 h2.ico12{background-image: url(../images/mode01_ico22.png);background-size: auto 83.3%;}
.mode01 h2.ico11.off{background-image: url(../images/mode01_ico11.png);background-size: auto 83.3%;color: #444;}
.mode01 h2.ico12.off{background-image: url(../images/mode01_ico21.png);background-size: auto 83.3%;color: #444;}
.mode01 h2.ico13{background-image: url(../images/mode01_ico3.png);background-size: auto 88.8%;}

.mode02 h2.ico21{background-image: url(../images/mode02_ico1.png);background-size: auto 88.8%;padding-left: 40px;}
.mode02 h2.ico22{background-image: url(../images/mode02_ico2.png);background-size: auto 88.8%;}
.mode03 h2.ico31{background-image: url(../images/mode03_ico1.png);background-size: auto 88.8%;padding-left: 40px;}
.mode03 h2.ico32{background-image: url(../images/mode03_ico2.png);background-size: auto 77.7%;}
.mode04 .ico4{background-image: url(../images/mode04_ico.png);background-size: auto 66.6%;}

.index_title2{padding-left: 47px;color: #004f94;font-weight: normal;line-height: 36px;/* font-family: "Songti SC"; */position: absolute;background-repeat: no-repeat;background-position: left center;padding-right: 20px;z-index: 2;left: 0;top: 50%;transform: translateY(-50%);}

.wrap_mode01{padding: 30px 0;}
.mode01{position: relative;}
.mode01 .lf{width: 65.5%;float: left;}
.mode01 .rt{width: 32.3%;float: right;}

.mode01 .lf .box.off{display: none;}

.index_011 {padding: 15px 0 0;}
.index_011 ul{margin: 0 0 0 0;}
.index_011 li{}
.index_011 a{margin: 0 0 0;display: block;position: relative;}
.index_011 .title{margin: 0 0 0;height: 66px;line-height: 66px;position: absolute;left: 0;right: 0;bottom: 0;color: #fff;font-weight: bold;background: rgba(0,0,0,.5);padding: 0 280px 0 30px;white-space: nowrap;}
.index_011 .img{padding-bottom: calc(501% / 8.34);}
.index_011 .img.video::before{content: '';display: block;width: 46px;height: 46px;background: url(../images/mode01_video.png) center no-repeat rgba(0,0,0,.5);background-size: calc(100% - 6px);border-radius: 50%;position: absolute;right: 28px;bottom: 95px;}

.index_011 .slick-dots{width: auto;right: 63px;bottom: 24px;}
.index_011 .slick-dots li{width: 8px;height: 8px;margin: 0 6px;background: rgba(255,255,255,.5);border-radius: 50%;}
.index_011 .slick-dots li button{text-indent: 0;background: #dedede;color: #c30500;outline: none;display: none;}
.index_011 .slick-dots li.slick-active{background: #fff;border: 2px solid #004f94;margin-bottom: -2px;}

.index_012 ul{margin: 0 0 0;padding: 0 0 0;}
.index_012 li{}
.index_012 a{margin: 0 0 0;line-height: 40px;}
.mode01 .index_012 a{line-height: 34px;}
.index_012 .title{white-space: nowrap;position: relative;padding: 0 0 0 18px;}
.index_012 .title::before{content: '';display: block;width: 4px;height: 4px;background: #d6d6d6;position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
.index_012 .time{color: #444;margin: 0 0 0 15px;float: right;padding: 0 0 0 10px;position: relative;}
.index_012 .time::before{content: '';display: block;width: 1px;height: 16px;background: #e7e7e7;position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
.index_012 .new{width: 35px;height: 36px;float: right;background: url(../images/new.gif) center no-repeat;margin: 0 10px;}

.wrap_mode02{padding: 0 0 30px;}
.mode02{position: relative;}
.mode02 .lf{width: calc(50% - 18px);float: left;}
.mode02 .rt{width: calc(50% - 18px);float: right;}

.wrap_mode03{padding: 0 0 30px;}
.mode03{position: relative;}
.mode03 .lf{width: calc(50% - 18px);float: left;}
.mode03 .rt{width: calc(50% - 18px);float: right;}

.wrap_mode04{padding: 0 0 40px;}
.mode04{position: relative;}

.index_04 {margin: 0 0 0 216px;padding: 6px 0 0;}
.index_04 ul{margin: 0 0 0 -20px;}
.index_04 li{width: 25%;}
.index_04 a{margin: 0 0 0 20px;height: 63px;line-height: 63px;text-align: center;/* font-family: "Songti SC"; */background:#057be3;background: -webkit-linear-gradient(top, #057be3 , #4aa8fa);background: -o-linear-gradient(bottom, #057be3, #4aa8fa);background: -moz-linear-gradient(bottom, #057be3, #4aa8fa);background: linear-gradient(to bottom, #057be3 , #4aa8fa);color: #fff;letter-spacing: 6px;}
.index_04 a .red,.index_04 a:hover{color: #f31313;}


@media screen  and (min-width:1024px){
	
}
@media screen  and (max-width:1480px){
	.mode01 .lf{width: auto;float: none;}
	.mode01 .rt{width: auto;float: none;margin: 30px 0 0;}
	.index_011{padding: 0;}
	.mode01 .index_012 ul{margin: 0 0 0 -40px;}
	.mode01 .index_012 li{width: 50%;}
	.mode01 .index_012 a{margin: 0 0 0 40px;}
	
	.mode02 .lf,.mode02 .rt,.mode03 .lf,.mode03 .rt{width: calc(50% - 20px);}
	
	.index_title2{position: relative;top: 0;transform: none;margin: 0 0 20px;}
	.index_04{margin: 0;padding: 0;}
	
}
@media screen  and (max-width:1200px){
	.index_title h2{font-size: 26px;line-height: 1.2;padding-left: 36px;}
	.mode02 h2.ico21{padding-left: 32px;}
	
	.index_011 .title{padding: 0 140px 0 30px;}
	.index_011 .slick-dots{right: 20px;}
	.mode01 .lf h2:first-child{padding-right: 26px;}
	
	.mode01 .index_012 li{width: 100%;}
	.mode02 .lf, .mode02 .rt, .mode03 .lf, .mode03 .rt{width: auto;float: none;margin: 0 0 24px;}
	
	.wrap_mode01{padding: 30px 0;}
	.wrap_mode02,.wrap_mode03{padding: 0;}
	
}
@media screen  and (max-width:767px){
	
	.index_title{margin-bottom: 12px;}
	.index_title h2{font-size: 22px;padding-left: 30px;}
	.mode02 h2.ico21{padding-left: 28px;}
	
	.mode01 .index_012 a{line-height: 36px;}
	.index_012 a{line-height: 36px;}
	
	.index_04 ul{margin-bottom: -20px;}
	.index_04 li{width: 50%;}
	.index_04 a{margin-bottom: 20px;}
	
}
@media screen  and (max-width:639px){
	
	
	
}
@media screen  and (max-width:479px){
	
	
	
}
@media screen  and (max-width:413px){
	.mode01 .lf h2:first-child{padding-right: 20px;}
	.mode01 .lf .index_title .more{position: relative;transform: none;float: right;}
	
	
	
}
@media screen  and (max-width:320px){
	
	
	
}